*,
*::after,
*::before{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Noto Sans", sans-serif;
}
a{
    text-decoration: none;
}
.header{
    background-color: #163a24;
    color: #FBFAF7;
}
.container{
    min-width: 1220px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header__link{
    color: #15660b;
    height: 98px;
    
}
    .header__buttons{
    display:flex;
    align-items: center;
    gap: 24px;
}
.btn{
    background-color: #198C36;
    padding: 15px 25px;
    border-radius: 160px;
}

.first_section{
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;  
    background: url("../img/men.svg") no-repeat;
    background-position: right;
    background-color: #163a24;
   
   
    background-image:  url(../img/men.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

}
